{% extends 'CoreBundle::layout.html.twig' %}

{% block body%}
    {% for message in app.session.flashbag.get('info') %}
        <p class="alert alert-info">Message flash: {{ message }}</p>
    {% endfor %}
    <h1>Bienvenue sur mon site</h1>
{% endblock %}