<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma première page avec Openclassrooms !</title>
    </head>
    <body>
    <p>
        {% for message in app.session.flashbag.get('info') %}
            <p>Message flash : {{ message }}</p>
        {% endfor %}
    </p>
    </body>
</html>